<div class="card-character">
  <!-- <h1>Componente Hijo, {{ name }}</h1> -->

  <div class="card-character_image">
    <img src="{{ character.image }}" alt="" />
  </div>
  <div class="card-character_info">{{ character.name }}</div>
  <button (click)="goToDetail()">Ver detalle</button>
</div>
<!-- <div>
  <app-chlidren [nombreDelPadre]="name"></app-chlidren>
</div> -->
