<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="">Correo electrónico: </label>
    <input type="text" formControlName="email" />
    <div class="has-error" *ngIf="email.touched">
      <p *ngIf="email.hasError('required')">Campo requerido</p>
      <p *ngIf="email.hasError('email')">
        Ingrese un correo electrónico válido
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="">Contraseña:</label>
    <input type="password" formControlName="password" />
    <div class="has-error" *ngIf="password.touched">
      <p *ngIf="password.hasError('required')">Campo requerido</p>
    </div>
  </div>
  <div class="form-action">
    <button [disabled]="!this.loginForm.valid">Ingresar</button>
  </div>
</form>
