<h1>PAGINA DE LISTA DE USUARIOS</h1>
<h1>Componente padre</h1>
<button (click)="incrementId()">Incrementar</button>
<button (click)="decrementId()">restar</button>

<app-card-character
  [character]="character"
  [name]="'Erving'"
  [apellido]="'Cordova'"
  [options]="options"
  *ngFor="let character of list$ | async"
></app-card-character>
